root;BONICE;/home/dambam/Code/mat/
root;BONICH;Y:\mat\
root;jburge-wheatstone.psych.upenn.edu;/private/bonicn2/
rootWrkDir;BONICH;E:\matenv\bin
rootSWrkDir;BONICH;E:\matenv\stableWorkspaces
projectile;1
history;BONICH;0
history;jburge-wheatstone.psych.upenn.edu;0
curPrjLoc;jburge-wheatstone.psych.upenn.edu;/homes/davwhite/matenv/
rootWrkDir;jburge-wheatstone.psych.upenn.edu;/homes/davwhite/matenv/bin
rootSWrkDir;jburge-wheatstone.psych.upenn.edu;/homes/davwhite/matenv/stableWorkspaces
rootCompiledDir;jburge-wheatstone.psych.upenn.edu;/homes/davwhite/matenv/cbin
